body {background-color: linen;}

 h1 {
	font-size: 40px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	color: #000;
}
/* Listan <UL> med knapparna */
ul {
	margin: 0;
	padding: 0;
}
/* Listelementen <LI> med knapparna */
#meny li {
	list-style: none;
	margin: 5px 0 10px 0;
}
#meny li a {
	display: block;
	width: 250px;
	margin: 0 auto 0 auto;
	padding: 5px 10px 5px 10px;
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: rgba(66,48,1,1);
	border-radius: 5px;
	border: 1px solid rgba(105,181,50,1);
	background: rgba(122,199,67,1);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
}
#meny li a:hover {
	cursor: pointer;
	background: rgba(178,232,139,1);
	color: rgba(0,0,0,1);
}
#meny a:link, #meny a:visited {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
#meny a:active {
	color: rgba(250,191,12,1);
}
#meny a#current {
	background: rgba(85,137,48,1);
}